if SHIELD_KEEBS34_LEFT

config ZMK_KEYBOARD_NAME
    default "keebs34"


config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KEEBS34_LEFT || SHIELD_KEEBS34_RIGHT

config ZMK_SPLIT
    default y

config ZMK_PM_SOFT_OFF=y

endif