#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            bindings = <
&kp Q  &kp W  &kp F  &kp P  &kp B    &kp J      &kp L  &kp U      &kp Y       &kp SPACE
&kp A  &kp R  &kp S  &kp T  &kp G    &kp M      &kp N  &kp E      &kp I       &kp O
&kp Z  &kp X  &kp C  &kp D  &kp V    &kp K      &kp H  &kp COMMA  &kp PERIOD  &kp SPACE
                     &mo 3  &mo 1    &kp SPACE  &mo 2
            >;
        };

        upper_layer {
            display-name = "UPPER";
            bindings = <
&kp ESC    &none             &none         &none         &none            &kp PAGE_UP         &kp HOME      &kp UP    &kp END        &kp INSERT
&kp TAB    &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp BACKSPACE    &kp PG_DN           &kp LEFT      &kp DOWN  &kp RIGHT      &none
&kp LC(Z)  &kp LC(X)         &kp LC(C)     &kp LC(V)     &kp DEL          &kp K_CONTEXT_MENU  &kp LC(LEFT)  &none     &kp LC(RIGHT)  &none
                                           &none         &trans           &kp BACKSPACE       &trans
            >;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH  &kp PERCENT  &kp AMPERSAND    &kp LESS_THAN     &kp LEFT_PARENTHESIS  &kp EQUAL      &kp RIGHT_PARENTHESIS  &kp GREATER_THAN
&kp SLASH        &kp PIPE           &kp PLUS  &kp MINUS    &kp QUESTION     &kp LEFT_BRACKET  &kp LEFT_BRACE        &kp COLON      &kp RIGHT_BRACE        &kp RIGHT_BRACKET
&kp BACKSLASH    &none              &none     &none        &none            &kp PIPE          &kp AMPERSAND         &kp SEMICOLON  &none                  &kp UNDERSCORE
                                              &trans       &trans           &trans            &trans
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
&none  &none  &none  &none  &none     &none      &none  &none  &none  &none
&none  &none  &none  &none  &none     &none      &none  &none  &none  &none
&none  &none  &none  &none  &none     &none      &none  &none  &none  &none
                     &mo 4  &trans    &kp ENTER  &none
            >;
        };

        control_layer {
            display-name = "CONTROL";
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &mo 5    &none  &none
            >;
        };

        extra1_layer {
            display-name = "EXTRA1";
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &mo 6  &none    &none  &none
            >;
        };

        extra2_layer {
            display-name = "EXTRA2";
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };
    };
};
