#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display_name = "BASE"
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T
                &kp A  &kp S  &kp D  &kp F  &kp G
                &kp Z  &kp X  &kp C  &kp V  &kp B
                                     &studio_unlock  &kp SPACE
            >;
        };

        upper_layer {
            display_name = "UPPER"
            status = "reserved";
        };

        lower_layer {
            display_name = "LOWER"
            status = "reserved";
        };

        symbol_layer {
            display_name = "SYMBOL"
            status = "reserved";
        };

        control_layer {
            display_name = "CONTROL"
            status = "reserved";
        };

        extra1_layer {
            display_name = "EXTRA1"
            status = "reserved";
        };

        extra2_layer {
            display_name = "EXTRA2"
            status = "reserved";
        };
    };
};