#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";
            bindings = <
&kp Q  &kp W  &kp F  &kp P           &kp B    &kp J      &kp L  &kp U      &kp Y       &kp SPACE
&kp A  &kp R  &kp S  &kp T           &kp G    &kp M      &kp N  &kp E      &kp I       &kp O
&kp Z  &kp X  &kp C  &kp D           &kp V    &kp K      &kp H  &kp COMMA  &kp PERIOD  &kp ENTER
                     &kt LEFT_SHIFT  &mo 1    &kp SPACE  &mo 2
            >;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
&kp ESC    &kp AT            &none         &none         &none            &kp PAGE_UP         &kp HOME      &kp UP    &kp END        &kp INSERT
&kp TAB    &sk LEFT_CONTROL  &sk LEFT_ALT  &sk LEFT_GUI  &kp BACKSPACE    &kp PG_DN           &kp LEFT      &kp DOWN  &kp RIGHT      &none
&kp LC(Z)  &kp LC(X)         &kp LC(C)     &kp LC(V)     &kp DEL          &kp K_CONTEXT_MENU  &kp LC(LEFT)  &none     &kp LC(RIGHT)  &none
                                           &trans        &trans           &kp BACKSPACE       &trans
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH  &kp PERCENT  &none           &kp LESS_THAN     &kp LEFT_PARENTHESIS  &kp EQUAL      &kp RIGHT_PARENTHESIS  &kp GREATER_THAN
&kp SLASH        &none              &kp PLUS  &kp MINUS    &kp QUESTION    &kp LEFT_BRACKET  &kp LEFT_BRACE        &kp COLON      &kp RIGHT_BRACE        &kp RIGHT_BRACKET
&kp BACKSLASH    &none              &none     &none        &none           &kp PIPE          &kp AMPERSAND         &kp SEMICOLON  &none                  &kp UNDERSCORE
                                              &trans       &trans          &trans            &trans
            >;
        };

        number_layer {
            display-name = "NUMBER";
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &none    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &none    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0
&kp F11  &kp F12  &none   &none   &none      &none    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none
                          &mo 4   &trans     &none    &none
            >;
        };

        control_layer {
            display-name = "CONTROL";
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        extra1_layer {
            display-name = "EXTRA1";
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };

        extra2_layer {
            display-name = "EXTRA2";
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                     &none  &none    &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        SYMBOL {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
